<head>
    <link rel="stylesheet" href="css/firstTab.css" />
</head>
<div class="rendered_tab">
<h2 class="h2_heading">SELF-SERVICE ESTIMATES</h2>
<div class='first_tab_content_wrapper'>
   <div class="first_tab_video">
       <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fsUTGler8yo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <div class="first_tab_text">
       <div class="first_tab_text_part">
           The following self-service questionnaire allows you to review your options for replacing your heat pump or furnace system with a heat pump of like tonnage. By the end, you will also receive a price estimate. For energy efficiency, safety, and comfort reasons, we do not install new gas furnaces.
       </div>
       <div class="first_tab_text_part">We implemented this self-service tool to allow you to customize your installation according to your needs and see everything that goes into your price estimate. We offer four different tiers of service so that you can select the installation plan based on your budget and needs.</div>
       <div class="first_tab_text_part">You can also select to replace your thermostat with a smart thermostat with remote controls, or you can choose to keep your old thermostat for no added charge. You can also browse additional system accessories and services. Once you have decided what you would like your installation to entail, you can select when you would like us to visit and receive an estimate of what the services will cost ahead of time; there is no need to call us for an estimate.</div>
       <div class="first_tab_text_part">Please watch our video to learn more about our installation process.</div>
       <div class="first_tab_text_part">NOTE: This service is only available to customers within our service area.</div>
        
      <div class='button' onclick='SwitchTab(2)'>next</div>

   </div>
</div>
 </div>